.head h1{
	text-align: center;
}
#nameInput{
	text-align: center;
	margin-bottom: 20px;
}
#gameBoard{
	text-align: center;
}
.frame{
	margin-right: 10px;
	height:100%;
}
#chatSpace{
	text-align: center;
}
textarea{
	/*border: 1px solid;
    padding: 20px;*/
    height: 100px;
    width: 500px;
    resize: none;
    overflow: auto;
}
#EnterText{
	width: 400px;
}
.green{
/*#009900*/
border-style: solid;
border-color:#009900;
}
.yellow{
	/*#ffff00*/
	border-style: solid;
	border-color:#ffff00;
}